@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: #fffef9;
  z-index: 10;
  text-decoration: none;
  font-size: 16px;
  list-style-type: none;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
}

body {
  background: #1e1e1e;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus ~ .floating-label,
input:not(:placeholder-shown) ~ .floating-label {
  top: -1rem;
  left: 0;
  font-size: 0.7rem;
  opacity: 0.8;
}
.floating-label {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease all;
}

@layer utilities {
  .border-white-solid {
    border: 1px solid #fffef9;
  }
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
